<h2>{{title}}</h2>
<p>{{showSomeText()}}</p>
<p> {{count}} </p>

<div>
    <input type="checkbox" [checked]="isChecked">
    <button [disabled]="isDisabled">Button</button>
</div>

<p [ngClass]="colorText">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptates sed deleniti earum veritatis eligendi,
    est, asperiores harum tenetur totam, aspernatur corrupti reiciendis culpa a fugit vel nihil. Maxime, nam!
</p>
<button (click)="changeColor('red')">red</button>
<button (click)="changeColor('green')">green</button>

<div>
    <button (click)="toogleMenu()">Menu</button>
    <div *ngIf="showMenu">
        text
    </div>
</div>

<div>
    <input type="text" [(ngModel)]="name">
    <button (click)="sendData()">Click</button>
    {{name}}
</div>

<div>
    <button (click)="increment()">+</button>
    {{number}}
</div>

<app-todo-list> </app-todo-list>